---
import { Image } from "@astrojs/image/components";
---

<div class="relative h-full">
  <div class="absolute inset-0">
    <Image
      class="h-full w-full object-cover"
      src="/images/jared_ruddy.jpg"
      width={1920}
      height={1080}
      alt="Jared Ruddy"
      format="jpg"
    />
  </div>
</div>
