---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="intro">Just ship less
<ContentSection title="Just ship less" id="intro">
<ContentSection title="Just ship less" id="intro">
  <Fragment slot="lead">
I've spent my career building great customer experiences.&nbsp;<a class="underline decoration-sky-500" href="http://thinkplanthrive.com/">I've started up.</a>&nbsp;<a class="underline decoration-pink-500" href="https://www.eu-startups.com/2016/08/10-european-pet-startups-to-watch-in-2016-and-beyond">Sold</a>. Built new things, including&nbsp;<a class="underline decoration-indigo-500" href="https://www.pressgazette.co.uk/news-uk-launches-times-london-weekly-international-digital-edition/">a newspaper</a>.&nbsp;<a class="underline decoration-sky-500" href="https://www.wired.co.uk/article/miro-robo-dog-elderly">A robot dog</a>.&nbsp;<a class="underline decoration-pink-500" href="https://www.inclusiviti.com/">An omni-directional wheelchair</a>. <a hclass="underline decoration-sky-500" ref="https://www.techradar.com/uk/news/world-of-tech/bt-tower-plays-host-to-europe-s-biggest-led-display-646210">The most visible screen in London</a>. And for a time,&nbsp;<a class="underline decoration-pink-500" href="https://www.engadget.com/2013/02/20/320-gigapixel-panorama-of-london/">the world's biggest picture</a>. I lead brand, marketing and IR for Forward Partners, an  early-stage VC Before Forward I led marketing and growth for Marketplace business&nbsp;<a class="underline decoration-sky-500" href="https://www.plentific.com/">Plentific</a>, helping them to pivot, scale their business across Europe and raise a $100m round.
<br>
<br>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
